<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/main.css">
    <title>Weather app</title>
  </head>
  <body class="bg-light">
      <div class="container p-2 main">
        <div class="d-flex justify-content-center p-2 m-4">
            <form method='GET' action='http://127.0.0.1:5000/'>
                <div class="form-row align-items-center">
                    <div class="col-auto">
                        <div class="input-group mb-1">
                            <div class="input-group-prepend">
                                <div class="input-group-text">City:</div>
                            </div>
                            <input type="text" class="form-control" name="city" id="cityName" placeholder="Type here..." autocomplete="off">
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-secondary mb-1">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="p-3">
          {% if city %}
          <div class="row">
            <div class="col-sm-6 offset-sm-3 text-center pb-2 text-light display-3 date">{{day}}</div>
          </div>
          <div class="row">
            <div class="col-sm-6 offset-sm-3 text-center text-light display-4 city">{{city}}, {{country}}</div>
          </div>
          <div class="row">
            <div class="col-sm-6 offset-sm-3 text-center text-light display-4 temp">{{temp}}°C</div>
          </div>
          {% else %}
          <div class="row">
            <div class="col-sm-6 offset-sm-3 text-center text-light display-3 date">Type in city to see results!</div>
          </div>
          {% endif %}
        </div>
      </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
